[submodule "sources/gem5"]
	path = sources/gem5
	url = git@github.com:cometzero/gem5.git
[submodule "sources/linux"]
	path = sources/linux
	url = git@github.com:cometzero/linux.git
[submodule "sources/buildroot"]
	path = sources/buildroot
	url = git@github.com:cometzero/buildroot.git
[submodule "sources/zephyr"]
	path = sources/zephyr
	url = git@github.com:cometzero/zephyr.git
[submodule "sources/zephyr-modules/libmetal"]
	path = sources/zephyr-modules/libmetal
	url = git@github.com:cometzero/libmetal.git
[submodule "sources/zephyr-modules/open-amp"]
	path = sources/zephyr-modules/open-amp
	url = git@github.com:cometzero/open-amp.git
