/* Cluster0 AMP CPU1 overlay placeholder (no-west flow) */
/ {
  zephyr,user {
    omx-role = "cluster0-amp-cpu1";
    omx-uart-policy = "per-core";
    omx-mailbox = "placeholder";
    omx-hwsem = "placeholder";
  };
};

&ram0 {
  reg = <0x84000000 0x02000000>;
};

&{/cpus/cpu@0} { status = "disabled"; };
&{/cpus/cpu@2} { status = "disabled"; };
&{/cpus/cpu@3} { status = "disabled"; };
&{/cpus/cpu@4} { status = "disabled"; };
&{/cpus/cpu@5} { status = "disabled"; };
&{/cpus/cpu@6} { status = "disabled"; };
&{/cpus/cpu@7} { status = "disabled"; };
